*#
geradorDeNumeros/*.iml
geradorDeNumeros/*.ipr
geradorDeNumeros/*.iws
geradorDeNumeros/*.jar
geradorDeNumeros/*.sw?
geradorDeNumeros/*~
geradorDeNumeros/.#*
geradorDeNumeros/.*.md.html
geradorDeNumeros/.DS_Store
geradorDeNumeros/.attach_pid*
geradorDeNumeros/.classpath
geradorDeNumeros/.factorypath
geradorDeNumeros/.gradle
geradorDeNumeros/.idea
geradorDeNumeros/.metadata
geradorDeNumeros/.project
geradorDeNumeros/.recommenders
geradorDeNumeros/.settings
geradorDeNumeros/.springBeans
geradorDeNumeros/.vscode
/code
geradorDeNumeros/MANIFEST.MF
geradorDeNumeros/_site/
geradorDeNumeros/activemq-data
geradorDeNumeros/bin
geradorDeNumeros/build
geradorDeNumeros/!/**/src/**/bin
geradorDeNumeros/!/**/src/**/build
geradorDeNumeros/build.log
geradorDeNumeros/dependency-reduced-pom.xml
geradorDeNumeros/dump.rdb
interpolated*.xml
lib/
manifest.yml
out
overridedb.*
geradorDeNumeros/target
geradorDeNumeros/.flattened-pom.xml
secrets.yml
geradorDeNumeros/.gradletasknamecache
geradorDeNumeros/.sts4-cache